---
Title: "Custom Policy Template List Data Source"
Description: |-
    Listing existing custom policy templates in TMC
---

# Custom Policy Template Data Source

This data source enables users to list existing custom policy templates in TMC.

## Example Usage

{{ tffile "examples/data-sources/custompolicytemplate/list_custom_policy_templates.tf" }}

{{ .SchemaMarkdown | trimspace }}
